NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
NEXT_PUBLIC_ARC_CHAIN_NAME=Arc Testnet
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app/
NEXT_PUBLIC_ARC_POOL_OWNER=Aetherion
NEXT_PUBLIC_ARC_POOL_CONTRACT_ADDRESS=0xd6EEaC15c3157775AFD7eCd865aC67a1eEd31Ec1
NEXT_PUBLIC_ARC_POOL_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_ARC_POOL_TOKEN_SYMBOL=USDC (ARC)
NEXT_PUBLIC_ARC_POOL_TOKEN_DECIMALS=6
NEXT_PUBLIC_ARC_POOL_APY=5
NEXT_PUBLIC_ARC_EARLY_BOOST_APY=0.5
